<!DOCTYPE html>
<html>

<head>
  <title>Build +</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/sha256.min.js"></script>
  <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script> 
  <script defer type="text/javascript" src="scripts/page.js"></script>
</head>

<body>
  <img src="images/bg.png" alt />
  <h1>Build +</h1>
  <h4>Trust Construction Site</h4>
  <span>clock</span>
  <div class="menuNav">
    <a href="contract.html">
      <input type="button" name="btn1" value="계약서" />
    </a>
    <div>
      <input type="button" name="btn2" value="근무현장" />
      <span>
        <a href="site_registration.html">등록</a>
        <a href="site_show.html">보기</a>
      </span>
    </div>
    <a href="manager.html">
      <input type="button" name="btn3" value="관리자" />
    </a>
    <a href="notification.html">
      <input type="button" name="btn4" value="안전사고신고" />
    </a>
    <a href="attendance.html">
      <input type="button" name="btn5" value="출근등록" />
    </a>
    <a href="token.html">
      <input type="button" name="btn6" value="Token 현황" />
    </a>
  </div>
</body>

</html>