<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/site.css" type="text/css" />
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/sha256.min.js"></script>
    <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script> 
    <script defer src="scripts/site.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <title>Site_show</title>
</head>

<body>
    <h1>근무 현장관리 보기</h1>
    <p>작성하신 근무일지를 볼 수 있습니다. </p>
    <br>
    <label> 확인:
        <input type="button" id="showTableButton" value="Show" />
    </label>
    <div id="myTable"></div>
</body>

</html>