body > h1 {
    text-align: center;
}

body > p {
    text-align: center;
}

body > label {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}